@import '../theme/animations';
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@mixin bigger($how) {
  &:hover {
    transform: scale($how);
    z-index: 999;
  }
}

.layout-container {
  position: absolute;
  min-height: 100%;
  width: 100%;
  padding-top: 30px;
  overflow: hidden;
  padding: 15px;
}

.header {
  position: fixed;
  height: 30px;
  background: #ccc;
  top: 0;
  width: 100%;
  z-index: 1002;

  > a {
    float: right;
    color: white;
    padding: 2px 5px 0;
  }

  img.gh-logo {
    width: 25px;

    &.github {
      width: 22px;
    }
  }
}
@media (max-height: 600px) and (orientation: landscape) {}

.block-container {
  padding: 15px;
  position: absolute;
  width: 700px;
  height: 700px;

  > * {
    position: absolute;
  }
}

.menu-container {
  max-width: 52.5rem;
  text-align: center;
  height: 100%;
  width: 50%;
  padding: 5% 0;
  display: flex;
  margin: 0 auto;

  .nav-link-container {
    transition: all .5s ease-in-out!important;

    > a {
      display: block;
      height: 100%;
      background: grey;
      transition: all .2s ease-in-out;
      @include bigger(1.045);
    }
  }

  &.navigateFrom {
    .nav-link-container {
      overflow: hidden;
    }

    .nav-link-container > a.about {     
      @include hide-left-to-right(.7s, 0.3s);
    }

    .nav-link-container > a.skills {     
      @include hide-right-to-left(.7s, 0.2s);
    }

    .nav-link-container > a.portfolio {     
      @include hide-bottom-to-top(.7s, 0.4s);
    }
  }
}

.main-block {
  width: 67%;
  position: relative;

  &:hover {
    z-index: 1001!important;
  }
  @include aspect-ratio(10, 10);
}

.side-block {
  @include aspect-ratio(20, 10);
  position: relative;
  width: 33%;

  .side-nav-block {
    > * {
      width: 100%;
      height: 45%;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 50%;
      width: 100%;
    }
  }
}

a.about {
  background: tomato!important;
}

a.skills {

  background: #d6dfe2!important;

}

a.portfolio {

  background: #eee!important;

}
