<nav class="header">
    <a target="_blank" href="http://github.com/byavv">
        <img alt="" class="gh-logo linked-in" src="/assets/In-White-34px-R.png">
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/viacheslav-aksenchyk-99bbb7131">
        <img alt="" class="gh-logo github" src="/assets/GitHub-Mark-32px.png">
    </a>
    <a class="join" routerLink="/join">Join me</a>
</nav>
<div class="layout-container">
    <!--<div class="menu-container" [@menuState]="state" [class.navigateFrom]='state=="hidden"'>-->
     <div class="menu-container" [@menuState]="state" [class.navigateFrom]='state=="hidden"'>
        <div class="main-block">
            <div class="nav-link-container">
                <a class='about' (click)='onAbout()'> About </a>
            </div>
        </div>
        <div class="side-block">
            <div class='side-nav-block'>
                <div class="nav-link-container">
                    <a class='skills' (click)='onSkills()'> Skills </a>
                </div>
                <div class="nav-link-container">
                    <a class='portfolio' (click)='onPortfolio()'> Portfolio </a>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>