@import '../theme/animations';
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@mixin bigger($how) {
  &:hover {
    transform: scale($how);
    z-index: 999;
  }
}

.layout-container {
  position: absolute;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}

.header {
  position: fixed;
  height: 30px;
  background: #ccc;
  top: 0;
  width: 100%;
  z-index: 1003;

  > a {
    float: right;
    color: white;
    padding: 1px 7px 0;

    > i {
      font-size: 1.3em;
    }
  }
}

.router-page {
  position: absolute;
  padding: 30px 15px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: antiquewhite;
  z-index: 1002;
}

.block-container {
  padding: 15px;
  position: absolute;
  width: 700px;
  height: 700px;

  > * {
    position: absolute;
  }
}
@media (max-width: 992px) {
  .main-menu-container {
    width: 70%!important;
  }
}

.main-menu-container {
  max-width: 52.5rem;
  text-align: center;
  height: 100%;
  width: 50%;
  padding: 5% 0;
  display: flex;
  margin: 0 auto;

  .nav-link-container {
    transition: all .5s ease-in-out!important;
    overflow: hidden;

    > a {
      display: block;
      height: 100%;
      background: grey;
      transition: all .2s ease-in-out;
      @include bigger(1.06);
      text-transform: uppercase;
      padding: 25px;
    }

    &:hover {
      overflow: visible;
    }
  }

  &.navigateFrom {
    .nav-link-container:hover {
      overflow: hidden;
    }

    .nav-link-container > a.about {
      @include hide-left-to-right(.7s, 0s);
    }

    .nav-link-container > a.skills {
      @include hide-right-to-left(.8s, 0s);
    }

    .nav-link-container > a.portfolio {
      @include hide-bottom-to-top(.9s, 0s);
    }
  }
}

.main-block {
  width: 67%;
  position: relative;

  &:hover {
    z-index: 1001!important;
  }
  @include aspect-ratio(10, 10);
}

.side-block {
  @include aspect-ratio(20, 10);
  position: relative;
  width: 33%;

  .side-nav-block {
    > * {
      width: 100%;
      height: 45%;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 50%;
      width: 100%;
    }
  }
}

a.about {
  background: tomato!important;
}

a.skills {
  background: #d6dfe2!important;
}

a.portfolio {
  background: #eee!important;
}
